/* new note button */

#new-note {
	cursor: pointer;

	position: fixed;
	bottom: 5vmin;
	right: 5vmin;

	padding: 12px;
	width: 5rem;
	height: 5rem;

	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	border: none;

	background-color: black;
	svg { fill: white; }

	&:hover {
		background-color: white;
		svg { fill: black; }

		border-radius: 1rem;
	}

	&:active {
		box-shadow: 0 0 0 2px black;
		scale: 0.95;

		transition: 50ms ease-out;
	}

	transition: 150ms;
}

/* note container */

#notes {
	grid-area: notes;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: min-content;
	gap: 2rem;

	padding: 2rem;
	overflow-y: auto;
}

/* main individual note */

.note {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	height: fit-content;

	&:hover {
		box-shadow: 0 0 0 2px black;

		.info {
			display: flex;
		}
	}

	transition: 100ms;
}

/* note info */

.note .info {
	display: none;
	align-items: center;
	gap: 0.5rem;

	> button {
		cursor: pointer;

		border-radius: 0.5rem;
		border: none;
		width: 40px;
		height: 40px;

		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px;

		&:hover {
			background-color: black;

			svg { fill: white; }
		}

		transition: 100ms;
	}
}

.info .created {
	flex-grow: 1;
}

/* note title */

.note .title {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* note content - all sections */

.note .content {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	> * {
		border-radius: 0.5rem;
	}

	> ol, ul {
		list-style-position: inside;
	}

	> img {
		max-width: 100%;
		object-fit: fit;
	}
}

/* note checklist */

.note .checklist {
	list-style-type: none;

	> li {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.note .checklist .checkbox {
	appearance: none;
	cursor: pointer;

	border: 2px solid black;
	border-radius: 4px;

	width: 1rem;
	height: 1rem;

	+ label {
		cursor: pointer;

		box-shadow: 0 2px transparent;
		flex-grow: 1;

		transition: 150ms;
	}

	&:checked {
		background-image: url("../icons/check.svg");
		background-position: center;
		background-color: black;
		background-size: contain;

		rotate: 360deg;

		+ label {
			text-decoration: line-through;
			text-decoration-thickness: 2px;
			
			text-decoration-color: hsl(0, 0%, 50%);
			color: hsl(0, 0%, 50%);
		}
	}

	&:hover + label {
		box-shadow: 0 2px black;
	}

	transition: 250ms;
}

/* note labels */

.note .labels {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.note .labels li {
	background-color: black;
	color: white;
	border-radius: 100vw;
	padding: 5px 12px;

	font-size: 12px;
}

/* search info */

#search-info {
	grid-column: 1 / -1;
}