/* new note button */

#new-note {
	cursor: pointer;

	background-color: black;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	border: none;

	position: fixed;
	bottom: 7vmin;
	right: 7vmin;
	
	width: 5rem;
	height: 5rem;

	&:hover {
		background-color: white;
		border-radius: 1rem;
		scale: 1.1;

		> svg {
			fill: black;
		}
	}

	&:active {
		box-shadow: 0 0 0 2px black;
		scale: 1;

		transition: 75ms ease-out;
	}

	transition: 100ms ease-out;
}

/* note container */

#notes {
	grid-area: notes;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: min-content;
	gap: 2rem;

	padding: 2rem;
	overflow-y: auto;
}

/* main individual note */

.note {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
	border-radius: 1rem;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	height: fit-content;

	&:hover {
		box-shadow: 0 0 0 2px black;

		.note-info {
			display: flex;
		}
	}

	transition: 150ms;
}

/* note title */

.note-title {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* note content - all sections */

.note-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	> * {
		border-radius: 0.5rem;
	}

	> ol, ul {
		list-style-position: inside;
	}

	> img {
		max-width: 100%;
		object-fit: fit;

		&:focus {
			scale: 1.1;
		}

		transition: 100ms ease-out;
	}
}

/* note info */

.note-info {
	display: none;
	align-items: center;
	gap: 0.5rem;
}

.note-created {
	flex-grow: 1;
}

/* note buttons */

.note-button {
	padding: 12px;
	border-radius: 8px;
	border: none;

	background-color: transparent;

	> svg {
		transition: 100ms, rotate 300ms cubic-bezier(0.25, 1.5, 0.5, 1);
	}

	&:hover {
		background-color: black;

		> svg {
			rotate: 10deg;
			fill: white;
		}
	}

	&:active {
		scale: 0.9;
		
		> svg {
			rotate: 360deg;
		}

		transition: 50ms;
	}

	transition: 100ms;
}

/* note checklist */

.note-checklist {
	list-style-type: none;

	> li {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.note-checklist .checkbox {
	appearance: none;
	cursor: pointer;

	border: 2px solid black;
	border-radius: 4px;

	width: 1rem;
	height: 1rem;

	flex-shrink: 0;

	&:checked {
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23FFFFFF'><path d='M382-200 113-469l97-97 172 173 369-369 97 96-466 466Z'/></svg>");
		background-position: center;
		background-color: black;
		background-size: contain;

		rotate: 360deg;

		+ label {
			text-decoration: line-through;
			color: hsl(0, 0%, 50%);
		}
	}

	transition: 250ms;
}

/* note labels */

.note-labels {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.note-labels li {
	background-color: black;
	color: white;
	border-radius: 100vw;
	padding: 5px 14px;

	font-size: 12px;
}

/* search info */

#search-info {
	grid-column: 1 / -1;
}